<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">LetMeKnow</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li>
                <a routerLink="/">Main page</a>
            </li>
            <li>
                <a routerLink="/search">Channel search</a>
            </li>
            <li>
                <a routerLink="/saved">Saved</a>
            </li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li>
        <a>Test</a>
    </li>
    <li>
        <a>Test2</a>
    </li>
</ul>