<div class="container center">
    Share this timeline: <code>{{currentUrl}}</code>

    <table class="responsive-table highlight centered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Channel</th>
                <th>Date</th>
                <th>Link</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of videos">
                <td>{{v.title}}</td>
                <td>{{v.channel_name}}</td>
                <td>{{v.date}}</td>
                <td><a href="{{v.url}}">Click here</a></td>
                <td><img src="{{v.thumbnail}}" alt="Thumbnail of {{v.title}}"/></td>
            </tr>
        </tbody>
    </table>
</div>